DOXAGENT_V2_DB_QUERY_WORKERS=2
DOXAGENT_V2_DB_QUERY_QUEUE=16
DOXAGENT_V2_DB_STREAM_WORKERS=1
DOXAGENT_V2_DB_QUERY_SECONDS=2
DOXAGENT_V2_DB_DETAIL_SECONDS=5
DOXAGENT_V2_DB_MVCC_HOURS=24
DOXAGENT_V2_DB_DIAGNOSTIC_DAYS=30
